In [89]:
import requests
import pandas as pd
import time 

df = pd.DataFrame()

# Initiale SWAPI/people
url = 'http://swapi.dev/api/people'
response = requests.get(url)
dict = response.json()

for page in range((dict['count'] // 10) + 1):
    response = requests.get(url)
    dict = response.json()
    df_temp = pd.DataFrame(dict['results'])
    df_temp = df_temp.loc[:, :'gender']
    
    df = pd.concat([df, df_temp], ignore_index=True)
    
    url = dict['next']
    time.sleep(.01)
    
display(df)

Iteration:  0
Iteration:  1
Iteration:  2
Iteration:  3
Iteration:  4
Iteration:  5
Iteration:  6
Iteration:  7
Iteration:  8

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male
4,Leia Organa,150,49,brown,light,brown,19BBY,female
...,...,...,...,...,...,...,...,...
77,Grievous,216,159,none,"brown, white","green, yellow",unknown,male
78,Tarfful,234,136,brown,brown,blue,unknown,male
79,Raymus Antilles,188,79,brown,light,brown,unknown,male
80,Sly Moore,178,48,none,pale,white,unknown,female
81,Tion Medon,206,80,none,grey,black,unknown,male